:root {
  --width-layout: 98%;
}

.minimize {
  display: none;
}

.maximize {
  position: absolute;
  width: var(--width-layout);
  left: 1%;
  top: 1em;
  box-shadow: 1px 1px 10px 1px blue;
}

.left {
  position: static;
  width: var(--width-layout);
  margin: 1em auto;
  box-shadow: 1px 1px 10px 1px blue;
}

.right {
  position: static;
  margin: 1em auto;
  width: var(--width-layout);
  box-shadow: 1px 1px 10px 1px blue;
}

@media screen and (min-width: 720px) {
  :root {
    --top-position: 2em;
  }
  .maximize {
    top: var(--top-position);
  }

  .left {
    position: absolute;
    left: 1%;
    top: var(--top-position);
    width: 48%;
  }

  .right {
    position: absolute;
    width: 48%;
    right: 1%;
    top: var(--top-position);
  }
}