.minimize {
  display: none;
}

.maximize {
  position: absolute;
  width: 98%;
  left: 1%;
  top: 50px;
  box-shadow: 1px 1px 10px 1px blue;
  
}

.left {
  position: absolute;
  width: 48%;
  left: 1%;
  top: 50px;
  box-shadow: 1px 1px 10px 1px blue;
}

.right {
  position: absolute;
  width: 48%;
  right: 1%;
  top: 50px;
  min-height: 50vh;
  box-shadow: 1px 1px 10px 1px blue;
}

@media screen and (max-width: 720px) {
  .maximize {
    position: absolute;
    top: 1em;
  }

  .left {
    position: static;
    margin: 1em auto;
    width: 98%;
  }

  .right {
    position: static;
    margin: 1em auto;
    width: 98%;
    min-height: 200px;
  }
}